:root {
    --greenMoney: rgb(16, 129, 16);
    --goldMoney: rgb(236, 206, 33);

}

.jumbotron {
    height: 100px;
    min-width: 585px;
    display: flex;
    justify-content: center;
    border-bottom: 4px solid black;
    padding-top: 4px;

    color: var(--goldMoney);
    background-color: var(--greenMoney);
    font-family: 'Abril Fatface', cursive;
}

.centerME {
    text-align: center;
}

table, form,
thead, th {
    border: 1px solid black;

}

#id {
    color: var(--greenMoney);

}

footer {
    border-top: 4px solid black;
    display: flex;
    justify-content: center;
    
    height: 80px;
    width: 100%;
    position: absolute;
    bottom: 0;

    color: var(--goldMoney);
    background-color: var(--greenMoney);
    font-family: 'Abril Fatface', cursive;
}